* {
    font-family: 'Roboto', sans-serif;
}
.menuItems {
    float: left;
    color: red;
}
:hover.menuOptions{
    color: white;
    background: red;
    margin: 0px 350px 0px 0px;
}

#menuOptions {
    padding: 10px;
}

#emails{
    padding: 20px 50px 20px 50px;
    margin: 20px 10px 20px 10px;
}

.email {
}

.subject {
    border: 7px solid cornflowerblue;
    display: block;
}

.date {
    float: right;
    display: block;
    padding: 0px 10px 20px 10px;

}

.sender {
    /* border: 2px solid blue; */
    display: block;
}

.body {
    padding: 0px 10px 50px 10px;
    /* border: 2px solid red; */
    display: block;
}